<form #editDetails="ngForm" (ngSubmit)="editdetails(editDetails.value)">
            <h1>Edit</h1>
            <mat-card-content>
                <mat-label>Question</mat-label>
            <mat-form-field class="example-full-width" appearance="fill"> 
                <input matInput name="question" ngModel>
            </mat-form-field><br>
            <mat-label >Answer</mat-label>
            <mat-form-field class="example-full-width" appearance="fill">
                <input id="i1" name="answer" ngModel>
            </mat-form-field>
            <mat-card-actions>
                <button type="submit" mat-raised-button style="background-color:#ff0808;color:white;height: 30px;" >Save</button>
            </mat-card-actions>
        </mat-card-content>
</form>