mat-card
{
    margin-top: 30px;
    height: 100px;
    box-shadow: black 2px 3px 2px;
}


.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    
    width: max-content;
    height: 100px;
    
}

.card-buttons
{
    margin-left: auto;
    margin-right: auto;
}

