mat-card
{
    margin-top: 30px;
}


.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: max-content;
}

.card-buttons
{
    margin-left: auto;
    margin-right: auto;
}